body {
	margin: 0;
	font-family: sans-serif;
	color: rgb(20, 60, 10);
	background: rgb(230, 235, 220);
	overflow: hidden;
}

figure {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0;
	z-index: -1;
	overflow: hidden;
}

figure object {
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: block;
}

#documentInfo {
	position: absolute;
	overflow: auto;
	top: 50px;
	left: 50px;
	width: 400px;
	max-height: 200px;
	color: black;
	background: rgba(255, 255, 255, .8);
	visibility: hidden;
	font-size: 10pt;
	padding: .5em;
}

#docMarker {
	position: absolute;
	top: 200px;
	left: 50px;
	width: 20px;
	height: 20px;
	visibility: hidden;
}

aside {
	position: absolute;
	top: 0;
	right: -300px;
	bottom: 0;
	width: 400px;
	margin: 0;
	background: rgba(255, 255, 255, .7);
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	border-left: 1px solid white;
	transition: right .3s ease-out;
}

aside:hover, aside:focus, aside:active {
	right: 0;
}

h1, #settings, #search {
	margin: 40px;
}

h2 { 
	font-size: 1em;
	padding-bottom: 5px;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

aside label {
	/*display: block;*/
	margin-top: 20px;
}

aside input, aside select {
	/*display: block;*/
	margin-top: 10px;
}

aside input[type=button] {
	clear: left;
}

#hidden{
	display:none;
}

.highlightedTitle {
	color: green;
	font-weight: bold;
	border-bottom: 1px solid green;
}

#nothingFound {
	color: red;
	display: none;
	font-size: 10pt;
	margin: 0;
	padding: 0;
	padding-top: 4px;
}