* {
	cursor: grab;
	background: #61A320;
}


.border {
	stroke: #467715;
	stroke-width: 1px;
	stroke-dasharray: 5,10;
	stroke-linecap: round;
	fill: none;
}

path, circle {
	stroke: rgba(0,0,0,.2);
	stroke-width: 1px;
	/*stroke-dasharray: 5,10;*/
	stroke-linecap: round;
	fill: none;
}

.topicTitles {
	fill: #111111;
}